@model Interview_task.Models.CurrencyViewModel

<h2>Currency Converter</h2>

<form asp-action="Index" method="post">

    <div>
        <label>Amount</label><br />
        <input asp-for="Amount" />
        <span asp-validation-for="Amount" style="color:red"></span>
    </div>

    <br />

    <div>
        <label>From Currency</label><br />

        <select asp-for="FromCurrency">
            <option value="USD">USD</option>
            <option value="BDT">BDT</option>
            <option value="EUR">EUR</option>
            <option value="GBP">GBP</option>
            <option value="INR">INR</option>
            <option value="JPY">JPY</option>
        </select>

        <span asp-validation-for="FromCurrency" style="color:red"></span>
    </div>

    <br />

    <div>
        <label>To Currency</label><br />

        <select asp-for="ToCurrency">
            <option value="USD">USD</option>
            <option value="BDT">BDT</option>
            <option value="EUR">EUR</option>
            <option value="GBP">GBP</option>
            <option value="INR">INR</option>
            <option value="JPY">JPY</option>
        </select>

        <span asp-validation-for="ToCurrency" style="color:red"></span>
    </div>

    <br />

    <button type="submit">Convert</button>

</form>

<br />

@if (Model.ConvertedAmount > 0)
{
    <h3>
        @Model.Amount @Model.FromCurrency =
        @Model.ConvertedAmount @Model.ToCurrency
    </h3>
}

@if (ViewBag.Error != null)
{
    <p style="color:red">
        @ViewBag.Error
    </p>
}

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}