@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Interview_task.Models.CurrencyViewModel

@{
    ViewData["Title"] = "Currency Converter";
}

<h2>Currency Converter</h2>

@if (ViewBag.Error != null)
{
    <div style="color:red; margin-bottom:15px;">
        @ViewBag.Error
    </div>
}

<form asp-action="Index" method="post">

    <div style="margin-bottom:15px;">
        <label asp-for="Amount"></label><br />
        <input asp-for="Amount" class="form-control" />
        <span asp-validation-for="Amount" style="color:red"></span>
    </div>

    <div style="margin-bottom:15px;">
        <label asp-for="FromCurrency">From Currency</label><br />
        <input asp-for="FromCurrency" class="form-control" placeholder="USD" />
        <span asp-validation-for="FromCurrency" style="color:red"></span>
    </div>

    <div style="margin-bottom:15px;">
        <label asp-for="ToCurrency">To Currency</label><br />
        <input asp-for="ToCurrency" class="form-control" placeholder="BDT" />
        <span asp-validation-for="ToCurrency" style="color:red"></span>
    </div>

    <button type="submit" class="btn btn-primary">
        Convert
    </button>

</form>

@if (Model.ConvertedAmount > 0)
{
    <hr />

    <h3>Conversion Result</h3>

    <p>
        <strong>@Model.Amount @Model.FromCurrency.ToUpper()</strong>
        =
        <strong>@Model.ConvertedAmount @Model.ToCurrency.ToUpper()</strong>
    </p>
}

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}